<form id="popup" class="popup">
    <div class="popup__content">
        <label class="popup__input-wrap">
            <input type="text" name="name" placeholder="Ваше имя" class="popup__input popup__input-name" required>
        </label>
        <label class="popup__input-wrap">
            <input type="tel" name="phone" placeholder="Ваше телефон" class="popup__input popup__input-phone" required>
        </label>
        <label class="checkbox">
            <input name="agree" type="checkbox" checked>
            <p class="checkbox__text">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</p>
        </label>
        <button type="submit" class="popup__submit">Заказать расчет <span>+</span> дизайн бесплатно</button>
    </div>
</form>
