// Common styles of the project

html, body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    background-color: #090c27;
    background-image: url('%=static=%general/blue_bg4.png');
    background-repeat: no-repeat;
    background-position: 0 1000px;
    background-size: 100% 100%;
    overflow-x: hidden;

    @include below($tablet) {
        background-image: none;
    }

}

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

.compensate-for-scrollbar {
    margin: 0!important;
}

.fancybox-bg {
    opacity: .6!important;
    background: #000000!important;
}

.container {
    width: rem(1180);
    margin: 0 auto;

    @include below($tablet) {
        width: auto;
        margin: 0 rem(20);
    }

    @include below($mobile) {
        margin: 0 rem(10);
    }
}

.page {

    &_detail {
        .inner-navigation {
            padding-top: rem(130);
        }
    }
}
