// File for scss-vars.
// For example: main colors, paddings and so on.

//breakpoints
$desktop: rem(1280);
$tablet: rem(1279);
$tablet-small: rem(960);
$phablet: rem(720);
$mobile: rem(719);

//global colors
$white: #ffffff;
$black: #000000;
