<section class="firstscreen">
    <video class="firstscreen__video" autoplay="autoplay" muted loop="loop" tabindex="0">
        <source src="video/bg.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
    </video>
    <div class="firstscreen__content">
        <h1 class="firstscreen__title">Дизайн и технологии света</h1>
        <p class="firstscreen__subtitle">Декоративное освещение загородных домов и территорий.</p>
        <a data-fancybox="" data-src="#popup" href="javascript:void(0);" class="firstscreen__button">Рассчитать  онлайн</a>
    </div>
    <a href="javascript:void(0);" class="firstscreen__scroll"><span></span></a>
</section>
