<section class="steps">
    <h2 data-aos="fade-right" data-aos-duration="700" class="steps__title">Этапы <br> разработки</h2>
    <p data-aos="fade-right" data-aos-duration="700" class="steps__subtitle">по украшению архитектурных зданий или мероприятий</p>
    <ul class="steps__list">
        <li data-aos="fade-right"  data-aos-duration="700" class="steps__item">
            <span class="steps__number">01</span>
            <p class="steps__desc">Разместите заявку на сайте <br> или позвоните нам</p>
        </li>
        <li data-aos="fade-right"  data-aos-duration="700" class="steps__item">
            <span class="steps__number">02</span>
            <p class="steps__desc">Менеджер связывается с вами</p>
        </li>
        <li data-aos="fade-right"  data-aos-duration="700" class="steps__item">
            <span class="steps__number">03</span>
            <p class="steps__desc">Выезд специалиста на объект <br> (осмотр и замер)</p>
        </li>
        <li data-aos="fade-right"  data-aos-duration="700" class="steps__item">
            <span class="steps__number">04</span>
            <p class="steps__desc">Составляем смету проекта <br> и визуализацию</p>
        </li>
        <li data-aos="fade-right"  data-aos-duration="700" class="steps__item">
            <span class="steps__number">05</span>
            <p class="steps__desc">Согласование</p>
        </li>
        <li data-aos="fade-right"  data-aos-duration="700" class="steps__item">
            <span class="steps__number">06</span>
            <p class="steps__desc">Выполнение работ <br> (монтаж)</p>
        </li>
    </ul>
</section>
