<section data-aos="fade-right" class="advantages">
    <h2 data-aos="fade-right" data-aos-duration="700" class="advantages__title">Преимущества работы с нами</h2>
    <div data-aos="fade-right"  data-aos-duration="700" class="advantages__list">
        <div class="advantages__item advantages__item_team">
            <div class="advantages__image-wrap">
                <img class="advantages__item-img" src="%=static=%img/general/team.svg" alt="team">
            </div>
            <p class="advantages__item-desc">Профессиональная  бригада</p>
        </div>
        <div class="advantages__item advantages__item_guarantee">
            <div class="advantages__image-wrap">
                <img class="advantages__item-img" src="%=static=%img/general/guarantee.svg" alt="guarantee">
            </div>
            <p class="advantages__item-desc">Гарантия качества  выполненных работ</p>
        </div>
        <div class="advantages__item advantages__item_departure">
            <div class="advantages__image-wrap">
                <img class="advantages__item-img" src="%=static=%img/general/free_departure.svg" alt="free departure">
            </div>
            <p class="advantages__item-desc">Бесплатный выезд  на место</p>
        </div>
        <div class="advantages__item advantages__item_visualisation">
            <div class="advantages__image-wrap">
                <img class="advantages__item-img" src="%=static=%img/general/visualisation.svg" alt="visualisationtime">
            </div>
            <p class="advantages__item-desc">Бесплатная визуализация  и смета в день обращения</p>
        </div>
        <div class="advantages__item advantages__item_time">
            <div class="advantages__image-wrap">
                <img class="advantages__item-img" src="%=static=%img/general/time.svg" alt="time">
            </div>
            <p class="advantages__item-desc">Оперативное выполнение  работы (работаем в сжатые  сроки)</p>
        </div>
        <div class="advantages__item advantages__item_sale">
            <div class="advantages__image-wrap">
                <img class="advantages__item-img" src="%=static=%img/general/sale.svg" alt="sale">
            </div>
            <p class="advantages__item-desc">Демонтаж со скидкой 25%  при заказе  от 500 тыс.рублей.  Свыше 1 млн.рублей -  демонтаж бесплатный.</p>
        </div>
    </div>
</section>
