<div class="formrequest {{modifier}}">
    <h2 data-aos="fade-right" data-aos-duration="700" class="formrequest__title">{{title}}</h2>
    <p data-aos="fade-right"  data-aos-duration="700" class="formrequest__subtitle">{{subtitle}}</p>
    <form id="formrequest" data-aos="fade-right"  data-aos-duration="700" class="formrequest__form">
        <label class="formrequest__input-wrap">
            <input type="text" name="name" placeholder="Ваше имя" class="formrequest__input formrequest__input-name" required>
        </label>
        <label class="formrequest__input-wrap">
            <input type="tel" name="phone" placeholder="Ваше телефон" class="formrequest__input formrequest__input-phone" required>
        </label>
        <label class="checkbox">
            <input name="agree" type="checkbox" checked>
            <p class="checkbox__text">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</p>
        </label>
        <button type="submit" class="formrequest__submit">Заказать расчет <span>+</span> дизайн бесплатно</button>
    </form>
</div>
