<section class="achievements">
    <img data-aos="fade-right" data-aos-duration="700" src="%=static=%img/general/achievements.png" alt="achievements" class="achievements__img">
    <div class="achievements__content">
        <h2 data-aos="fade-right" data-aos-duration="700" class="achievements__title">Наши достижения</h2>
        <div data-aos="fade-right"  data-aos-duration="700" class="achievements__item">
            <div class="achievements__image-wrap">
                <img src="%=static=%img/general/achievements_1.png" alt="achievements" class="achievements__item-img">
            </div>
            <p class="achievements__text">Выполнено более <span>60 проектов</span></p>
        </div>
        <div data-aos="fade-right"  data-aos-duration="700" class="achievements__item">
            <div class="achievements__image-wrap">
                <img src="%=static=%img/general/achievements_2.png" alt="achievements" class="achievements__item-img">
            </div>
            <p class="achievements__text">Более <span>100 км гирлянд</span> украсили Ваши здания</p>
        </div>
        <div data-aos="fade-right"  data-aos-duration="700" class="achievements__item">
            <div class="achievements__image-wrap">
                <img src="%=static=%img/general/achievements_3.png" alt="achievements" class="achievements__item-img">
            </div>
            <p class="achievements__text">Более <span>60 объектов</span> стали уникальными</p>
        </div>
    </div>
</section>
