<section id="portfolio" class="portfolio {{modifier}}">
    <h2 data-aos="fade-right" data-aos-duration="700" class="portfolio__title">{{title}}</h2>
    <div data-aos="fade-right" data-aos-duration="700" class="portfolio__content">
        <article class="portfolio__item">
            <div class="portfolio__item-info">
                <h3 class="portfolio__item-title">Quisque nec mauris</h3>
                <p class="portfolio__item-desc">Lorem ipsum dolor amet, the consуtetur adipiscing elit. Nulla quam velit, pharetra nec, mattis ac neque.</p>
                <p class="portfolio__item-desc">Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, the tortor mauris molestie metuelit.</p>
                <button class="portfolio__next"></button>
            </div>
            <img class="portfolio__item-img" src="%=static=%img/general/portfolio.jpg" alt="portfolio image">
        </article>
        <article class="portfolio__item">
            <div class="portfolio__item-info">
                <h3 class="portfolio__item-title">Quisque nec mauris</h3>
                <p class="portfolio__item-desc">Lorem ipsum dolor amet, the consуtetur adipiscing elit. Nulla quam velit, pharetra nec, mattis ac neque.</p>
                <p class="portfolio__item-desc">Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, the tortor mauris molestie metuelit.</p>
                <button class="portfolio__next"></button>
            </div>
            <img class="portfolio__item-img" src="%=static=%img/general/portfolio.jpg" alt="portfolio image">
        </article>
        <article class="portfolio__item">
            <div class="portfolio__item-info">
                <h3 class="portfolio__item-title">Quisque nec mauris</h3>
                <p class="portfolio__item-desc">Lorem ipsum dolor amet, the consуtetur adipiscing elit. Nulla quam velit, pharetra nec, mattis ac neque.</p>
                <p class="portfolio__item-desc">Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, the tortor mauris molestie metuelit.</p>
                <button class="portfolio__next"></button>
            </div>
            <img class="portfolio__item-img" src="%=static=%img/general/portfolio.jpg" alt="portfolio image">
        </article>
    </div>
</section>
