<section class="examples">
    <h2 data-aos="fade-right" data-aos-duration="700" class="examples__title">Примеры новогоднего освещения</h2>
    <div class="examples__content">
        <a data-aos="fade-right"  data-aos-duration="700" data-fancybox="gallery" href="%=static=%img/general/examples_1.jpg" class="examples__item">
            <img class="examples__img" src="%=static=%img/general/examples_1.jpg" alt="example 1">
        </a>
        <a data-aos="fade-right"  data-aos-duration="700" data-fancybox="gallery" href="%=static=%img/general/examples_2.jpg" class="examples__item">
            <img class="examples__img" src="%=static=%img/general/examples_2.jpg" alt="example 2">
        </a>
        <a data-aos="fade-right"  data-aos-duration="700" data-fancybox="gallery" href="%=static=%img/general/examples_3.jpg" class="examples__item">
            <img class="examples__img" src="%=static=%img/general/examples_3.jpg" alt="example 3">
        </a>
        <a data-aos="fade-right"  data-aos-duration="700" data-fancybox="gallery" href="%=static=%img/general/examples_4.jpg" class="examples__item">
            <img class="examples__img" src="%=static=%img/general/examples_4.jpg" alt="example 4">
        </a>
        <a data-aos="fade-right"  data-aos-duration="700" data-fancybox="gallery" href="%=static=%img/general/examples_5.jpg" class="examples__item">
            <img class="examples__img" src="%=static=%img/general/examples_5.jpg" alt="example 5">
        </a>
        <a data-aos="fade-right"  data-aos-duration="700" data-fancybox="gallery" href="%=static=%img/general/examples_6.jpg" class="examples__item">
            <img class="examples__img" src="%=static=%img/general/examples_6.jpg" alt="example 6">
        </a>
    </div>
</section>
