<section class="services">
    <h2 data-aos="fade-right" data-aos-duration="700" class="services__title">Услуги по новогодней подсветке дома «под ключ»</h2>
    <div class="services__content">
        <img data-aos="fade-right"  data-aos-duration="700" src="%=static=%img/general/services.png" alt="services" class="services__img">
        <div data-aos="fade-right"  data-aos-duration="700" class="services__info">
            <p class="services__desc">
                <span>«Artlampdesign»</span> - ведущая компания в сфере устройства иллюминации на Новый год, предлагающая своим клиентам услуги полного цикла обслуживания.
            </p>
            <p class="services__desc">
                Это значит, что обратившись к нам, Вы можете не только купить новогоднее освещение в Москве. Мы практикуем индивидуальный подход и разрабатываем уникальные решения для каждого проекта вне зависимости от его сложности и бюджета.
            </p>
            <h3 class="services__subtitle">
                Работы проводятся «под ключ» и предусматривают:
            </h3>
            <ul class="services__list">
                <li data-aos="fade-right"  data-aos-duration="700" class="services__item">
                    Монтаж электросети;
                </li>
                <li data-aos="fade-right"  data-aos-duration="700" class="services__item">
                    Установку гирлянд и других типов подсветки;
                </li>
                <li data-aos="fade-right"  data-aos-duration="700" class="services__item">
                    Сервисное обслуживание комплекса.
                </li>
                <li data-aos="fade-right"  data-aos-duration="700" class="services__item">
                    Обслуживание объекта в течении всего срока эксплуатации
                </li>
                <li data-aos="fade-right"  data-aos-duration="700" class="services__item">
                    Русские монтажные бригады
                </li>
            </ul>
        </div>
    </div>
</section>
