<section class="navigation">
    <h2 data-aos="fade-right" data-aos-duration="700" class="navigation__title">Какое освещение вы хотите?</h2>
    <nav class="navigation__list">
        <ul>
            <li data-aos="fade-right"  data-aos-duration="700" class="navigation__item navigation__item_newyear">
                <a href="detail.html" class="navigation__item-link">Новогоднее</a>
            </li>
            <li data-aos="fade-right"  data-aos-duration="700" class="navigation__item navigation__item_street">
                <a href="detail.html" class="navigation__item-link">Уличное</a>
            </li>
            <li data-aos="fade-right"  data-aos-duration="700" class="navigation__item navigation__item_arch">
                <a href="detail.html" class="navigation__item-link">Архитектурное</a>
            </li>
            <li data-aos="fade-right"  data-aos-duration="700" class="navigation__item navigation__item_inside">
                <a href="detail.html" class="navigation__item-link">Внутреннее</a>
            </li>
        </ul>
    </nav>
</section>
