<article class="review">
    <div class="review__info">
        <div class="review__user">
            <img class="review__user-photo" src="%=static=%img/general/user.jpg" alt="user photo">
            <div class="review__user-info">
                <p class="review__user-name">Дмитрий Скляров</p>
                <p class="review__user-city">г. Москва</p>
            </div>
        </div>
        <p class="review__title">Освещение загородного дома</p>
        <p class="review__text">
            Lorem ipsum dolor amet, the consуtetur adipiscing elit. Nulla quam velit, pharetra nec, mattis ac neque.
        </p>
        <p class="review__text">
            Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristiquemauris molestie metuelit.
        </p>
        <button class="review__next"></button>
    </div>
    <video class="review__video" controls="controls">
        <source src="video/bg.mp4" type="video/mp4"></source>
    </video>
</article>
